@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<style>

    a {
        color: white !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

        a:hover {
            color: white !important;
            text-decoration: underline;
        }
</style>
<style>
    .delete-section {
        display: inline;
    }
</style>
<h4>Manage Users</h4>
<br />
<br />
<div>
    <table>
        <tr class="col-md-4 ">
            <td class="btn btn-info">@Html.ActionLink("Add New User", "Create", "ManageUsers")</td>
        </tr>
    </table>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table-bordered  table table-condensed">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>User Name</th>
                        <th>Role </th>
                        <th>Email</th>
                        <th colspan="2" style="text-align:center">Action</th>


                    </tr>
                </thead>
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>@Model.Rows[i]["FullName"]  </td>
                        <td>@Model.Rows[i]["UserName"]  </td>
                        <td>@Model.Rows[i]["Roles"]  </td>
                        <td>@Model.Rows[i]["Email"]  </td>
                        <td>
                            <button class="btn btn-warning"><a href="@Url.Action("Edit","ManageUsers",new{@id=Model.Rows[i]["UserID"]})" style="color: white !important">Edit</a></button>
                        </td>

                        <td>
                            <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", "ManageUsers", new { @id = Model.Rows[i]["UserID"] }, new { onclick = "return confirm('Are sure wants to delete?');" })</button>
                        </td>

                    </tr>
                }


            </table>
        </div>
    </div>
</div>
