@using Survey.Models
@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}
<style>

    a {
        color: white !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

        a:hover {
            color: white !important;
            text-decoration: underline;
        }
</style>
<h2>Manage Questions</h2>
<br />
<br />
<div>
    <table>
        <tr class="col-md-4 ">
            <td class="btn btn-info">
            @Html.ActionLink("Add New Question", "Create", "ManageQuestions")</td>
            <td>
            </td>

            <td class="btn btn-info">
                @Html.ActionLink("Upload Questions From  Excel", "Index", "UploadQuestions")
            </td>

        </tr>
    </table>
</div>
<br />
<br />




@if (Request.QueryString["Survey"] != null)
{
    @Html.DropDownList("Surveylist", (IEnumerable<SelectListItem>)ViewBag.Surveylist, @Request.QueryString["Survey"], new { @onchange = "SelectedValue(this)" })
}
else
{
    @Html.DropDownList("Surveylist", (IEnumerable<SelectListItem>)ViewBag.Surveylist, "--Select--", new { @onchange = "SelectedValue(this)" })
}


<input type="hidden" id="txt" readonly="readonly" />
<br />
<br />
@*@Html.Hidden("SurveyName", null, new { @id = "hfSurveyName" })*@

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table-bordered  table table-condensed">
                <thead>

                    <tr>
                        <th>Question English </th>
                        <th>Question Arabic</th>
                        <th colspan="2" style="text-align:center">Action</th>


                    </tr>
                </thead>
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
            <tr>
                <td>@Model.Rows[i]["QuestionEnglish"]  </td>
                <td>@Model.Rows[i]["QuestionArabic"]  </td>
                <td >
                <button class="btn btn-warning"><a href="@Url.Action("Edit","ManageQuestions",new{@QuestionID=Model.Rows[i]["QuestionId"],@SurveyID=Model.Rows[i]["SurveyID"]})" style="color: white !important">Edit</a> </button>
                </td>
                <td >
                <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", "ManageQuestions", new { @QuestionID = Model.Rows[i]["QuestionId"], @SurveyID = Model.Rows[i]["SurveyID"] }, new { onclick = "return confirm('Are sure wants to delete?');" })</button>
                </td>

            </tr>
                }


            </table>
        </div>
    </div>
</div>
<script>
    function SelectedValue(ddlitem) {
        var id = ddlitem.value;
        $('#txt').val = id;
        var Survey = $("#Surveylist option:selected").text();

        window.location = "/ManageQuestions/Index/?SurveyID=" + id + "&Survey=" + Survey;

    }

</script>

