@{
    Layout = null;


}

<!doctype html>
<html lang="">

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Training</title>



    @Styles.Render("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")
    @Styles.Render("~/Content/assets/css/MaterialIcons.css")
    @Styles.Render("~/Content/assets/Arabic/bootstraparabic.css")
    @Styles.Render("~/Content/assets/Arabic/adminarabic.css")
    @Styles.Render("~/Content/assets/Arabic/Portletarabic.css")
    @Styles.Render("~/Content/assets/Arabic/Propellerarabic.css")
    @Styles.Render("~/Content/assets/Arabic/plugindatatablearabic.css")
    @Styles.Render("~/Content/datatable/rtl/plugins/datatables/datatables.min.css")
    @Styles.Render("~/Content/datatable/rtl/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")
    @Styles.Render("~/Content/assets/css/propeller.min.css")
    @Styles.Render("~/Content/assets/stylesheets/themear.css")
    @Styles.Render("~/Content/lib/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/assets/stylesheets/JF-FLAT.css")
    @Styles.Render("~/Content/assets/stylesheets/tabs.css")
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        ul.a {
            counter-reset: li;
            list-style: none;
            font-weight: bold;
            padding: 0 20px;
            margin-left: 5px;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
            text-align: right;
        }

        .MainDiv ul li {
            width: 100%;
            max-height: 400px;
        }

        .rounded-list span {
            position: relative;
            display: block;
            padding: .4em;
            padding-right: 32px;
            margin: .5em;
            background: rgba(221, 221, 221, 0.7);
            color: #000000;
            text-decoration: none;
            transition: all .3s ease-out;
            direction: rtl;
            background-color: rgba(203, 224, 239, 0.67);
            opacity: 0.6;
            font-size: 18px;
        }

            .rounded-list span:hover {
                direction: rtl;
                background: rgba(238, 238, 238, 0.7);
                background-color: #FFFFFF;
                color: #000000;
                font-size: 18px;
                opacity: 0.9;
                margin-right: 15px;
            }

                .rounded-list span:hover:before {
                    direction: rtl;
                    transform: scale(1.1,1.1) rotate(360deg);
                    -ms-transform: scale(1.1,1.1) rotate(360deg);
                    -webkit-transform: scale(1.1,1.1) rotate(360deg);
                    -o-transform: scale(1.1,1.1) rotate(3600deg);
                    -moz-transform: scale(1.1,1.1) rotate(360deg);
                }

            .rounded-list span:before {
                content: counter(li);
                counter-increment: li;
                position: absolute;
                right: -1.3em;
                top: 50%;
                margin-top: -1.3em;
                background: rgba(74, 194, 88, 0.4);
                height: 2em;
                width: 2em;
                line-height: 2em;
                border: .3em solid rgba(255, 255, 255, 0.7);
                text-align: center;
                font-weight: bold;
                border-radius: 2em;
                transition: all .5s ease-in-out;
                direction: rtl;
                background-color: #0080FF;
                opacity: 0.8;
                color: White;
            }

        a.blue:active {
            color: #0000ff;
            background: #ffffff;
            font-weight: bold;
        }

        a.blue:visited {
            color: #0000ff;
            background: #ffffff;
            font-weight: bold;
        }

        a.blue:hover {
            color: #0000ff;
            background: #ffffff;
            font-weight: bolder;
            margin-right: 10px;
        }
    </style>


    @*}*@

</head>
<body>

    <div id="content" class="pmd-content inner-page" style="margin-left:0px">
        <div class="container-fluid full-width-container about" style="max-width:1590px">

            <div class="row component-section" style="border: 5px solid rgb(51, 122, 183);
box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <!-- responsive table example -->
                    <div class="pmd-card pmd-z-depth pmd-card-custom-view pmd-card-body" style="direction:ltr">


                        <div class="header">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="logo">
                                    <img src="~/Content/assets/images/kfu-logo.png" /> 
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3 class="page-title" style="color:white;text-align:center;margin-top:50px">
                                    King Faisal University
                                    <br />
                                    Preparatory Year Deanship
                                </h3>
                            </div>



                        </div>

                        <div class="main-content">
                            <br />
                            <h1 style="        font-weight: bolder;
        font-size: 35px;
        text-align: center;
        color: #fafcfb;
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        border-radius: 3px;
        padding: 15px;
        border: solid 1px #337ab7;
        background: rgb(43, 98, 99)">
                               Quiz 1 Level 1
                            </h1>
                            <div class="container">
                                <div class="row">
                                    <section class="row component-section">
                                        <div class="wizard ">
                                            <div class="wizard-inner">
                                                <div class="connecting-line"></div>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                                            <span class="round-tab">
                                                                Team 1
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation" class="disabled">
                                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                                            <span class="round-tab">
                                                                Team 2
                                                            </span>
                                                        </a>
                                                    </li>
                                                   
                                                        
                                                        <li role="presentation" class="disabled">
                                                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                                                <span class="round-tab">
                                                                    Team 3
                                                                </span>
                                                            </a>
                                                        </li>
                                                   
                                                </ul>
                                            </div>
                                            <div id="displayMsg">
                                               
                                            </div>

                                           
                                                <div class="tab-content">
                                                    <div class="tab-pane active" role="tabpanel" id="step1">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="">
                                                                   
                                                                    <div class="group-fields clearfix row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group pmd-textfield">
                                                                                <h1>
                                                                                    Q1 :  Who was first Founder of Saudi Arabia
                                                                                </h1>
                                                                                <h2 class="">
                                                                                    <span for="inlineRadio1">
                                                                                     King Saud Bin
                                                                                    </span>
                                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="option1">

                                                                                    <span for="inlineRadio1">
                                                                                        King Faisal
                                                                                    </span>
                                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="option1">

                                                                                    <span for="inlineRadio1">
                                                                                        King Ibn Saud
                                                                                    </span>
                                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="option1">

                                                                                    <span for="inlineRadio1">
                                                                                        King Salman
                                                                                    </span>
                                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="option1">
                                                                                </h2>
                                                                                
                                                                                <div style="text-align:right">
                                                                                    <img src="~/Content/assets/images/Timer.png" /><br />
                                                                                    <button type="button" class="btn btn-primary next-step">Stop</button>&nbsp;
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                                    
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                                        </div>
                                                        <ul class="list-inline pull-right">
                                                            <button type="button" class="btn btn-primary next-step">Change Question  </button>
                                                            <li><button type="button" class="btn btn-primary next-step">Next</button></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            }
                                            @*</form>*@
                                        </div>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Content/assets/js/jquery-1.12.2.min.js"></script>
        <script src="~/Content/assets/js/bootstrap.min.js"></script>
        <script src="~/Content/assets/js/propeller.min.js"></script>
        <script>
            function setTarget(target) {
                debugger;
                $('#targetGroup').val(target);

            }
            $(document).ready(function () {
                //Initialize tooltips
                $('.nav-tabs > li a[title]').tooltip();

                //Wizard
                $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                    var $target = $(e.target);

                    if ($target.parent().hasClass('disabled')) {
                        return false;
                    }
                });

                $(".next-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    $active.next().removeClass('disabled');
                    nextTab($active);

                });
                $(".prev-step").click(function (e) {

                    var $active = $('.wizard .nav-tabs li.active');
                    prevTab($active);

                });
            });

            function nextTab(elem) {
                $(elem).next().find('a[data-toggle="tab"]').click();
            }
            function prevTab(elem) {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            }
        </script>
</body>
</html>